.candidateListPageCover {
  height: 90vh;
  display: flex;
}

.pageContent {
  width: 80%;
  display: flex;
  padding: 5%;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.pageContent.loading {
  align-items: center;
  justify-content: center;
}

.pageContent.loading p {
  border-radius: 22px;
  background-color: #c1beed;
  color: #282c34;
  padding: 20px;
  font-size: 30px;
  font-weight: 500;
}
