.pieChartCover {
  border: 1px solid black;
  position: relative;
  height: 60vh; /* Adjust the height as needed */
  margin: auto;
  border-radius: 15px;
  display : flex;
  flex-direction: column;
  width: 90%;
  bottom: 2%;
  background-color: rgb(225, 226, 226);
}

